<div id="jobSearchPageId" ></div>
<div id="jobList">
  {{!-- Nav bar --}}
  <nav class="navbar navbar-expand-md navbar-light bg-dark mb-1">

    <span class="navbar-brand mb-0 h2 text-white logo">Job Finder</span>

    {{!-- Toggle button --}}
    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">

      <ul class="navbar-nav ml-auto ">

        <li class="nav-item">
          <a class="nav-link text-white" href="/api/jobs">All Jobs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/postjob">Post Job</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/postedjobs">Posted Jobs</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link text-white" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

  </nav>
  <br><br>


  <div class="container mb-3">

    <div class="row">
      <div class="col-md-2">
      </div>

      <div class="col-md-8">
        {{!-- Search bar --}}
        <form class="input-group mb-3" id="searchForm">
          <input type="text" class="form-control" id="searchInput" placeholder="Search role, technology, company or job location..">
          <button type="submit" value="Search" id="searchJob"
            class="btn btn-md btn-info align-items-center">Search</button>
        </form>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>

  <br><br>
  <div class="row mr-2 ml-2" id="jobs">
    <div class="col-md-2"></div>

    <div class="col-md-8 col-lg-8 align-items-center">
      {{!-- Job list for searched keyword --}}
      {{#each job}}
         {{>jobsfinder}}
      {{/each}}
    </div>

    <div class="col-md-2"></div>
  </div>
</div>
</div>

<script src="/js/jobsearch.js"></script>