
 body {
  background-color:#f2f2f2;
  margin-bottom:100px;
  /* background-image: url("/images/coder.jpg");
  background-repeat: no-repeat;
  background-position: center; */
  /* background-size: cover; */

}
.greenborder{
  border-bottom-style:solid !important ;
  border-width:6px;
  border-bottom-color:darkcyan !important;
}

.navbar{
    border-bottom-style:solid !important ;
    border-width:6px;
    border-bottom-color:darkcyan !important;
  }
  .navbar .navbar-collapse {
    /*positioning*/
    text-align: right;
  }
 
  .footer{
    border-top:thick solid;
    border-width: 6px;
    border-top-color: darkcyan !important;
  }
  
  